.wcu-section {
    background-color: #f9fbfe;
    padding: 20px;
  }
  .wcu-section-heading {
    color: #183b56;
    font-family: "Roboto";
    font-size: 28px;
    font-weight: 700;
  }
  .wcu-section-description {
    color: #5a7184;
    font-family: "Roboto";
    font-size: 16px;
  }
  .wcu-card-section {
    text-align: center;
    background-color: white;
    border-style: solid;
    border-width: 1px;
    border-radius: 16px;
    border-color: #c5ccd7;
    padding: 9px;
    margin-bottom: 10px;
  }
  