.container{
    background-color: rgb(129, 129, 127);
    width: 60vw;
    /* height: 100vh; */
    /* background-size: cover; */
    padding: 20px;
    text-align: center;
    border-radius: 20px;

}
.card-container{
    /* text-align: center; */
}
